<component name="DependencyValidationManager">
  <scope name="App" pattern="(file:README.md||file[wsd_frontend]:sass_and_tailwind/src/sass//*||file[wsd_frontend]:sass_and_tailwind/src/tailwind//*||file:app/package.json||file:app/index.html||file:app/.gitignore||file[wsd_frontend]:app//*)&amp;&amp;!file:app/.prettierrc.json&amp;&amp;!file:app/eslint.config.js&amp;&amp;!file:app/package-lock.json&amp;&amp;!file:app/tsconfig.app.json&amp;&amp;!file:app/tsconfig.json&amp;&amp;!file:app/tsconfig.node.json&amp;&amp;!file:app/vite.config.ts&amp;&amp;!file:app/src/App.test.tsx&amp;&amp;!file:app/src/setupTests.ts&amp;&amp;!file:app/src/vite-env.d.ts&amp;&amp;!file:app/src/index.css&amp;&amp;!file[wsd_frontend]:app/src/features/counter//*&amp;&amp;!file[wsd_frontend]:app/src/features/quotes//*&amp;&amp;!file:app/src/app/createAppSlice.ts&amp;&amp;!file:app/src/app/hooks.ts&amp;&amp;!file[wsd_frontend]:app/src/styles/*" />
</component>